*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container_row {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
}

.logo_dark {
  color: #fff;
}

.logo__accent {
  color: var(--accent-color);
}

.menu {
  margin-left: 93px;
}

.menu__list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.header__info {
  margin-left: auto;
}

.header__info > a:first-child {
  margin-right: 30px;
}
